[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.75.2"
pyairtable = "~=1.1.0"
neo4j = "~=4.4.2"
pandas = "~=1.4.2"
pyarrow = "~=7.0.0"
numpy = "~=1.22.3"
gunicorn = "~=20.1.0"
uvicorn = "~=0.17.6"

[dev-packages]

[requires]
python_version = "3.9"
